<!doctype html>
<html layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <h4>비밀번호 찾기</h4>
    </div>
    <form th:action="@{/user/find}" th:object="${findPasswordForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" id="email" th:field="*{email}" class="form-control"
                   placeholder="이메일을 입력하세요.">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${emailNotExist}">
            입력하신 이메일이 존재하지 않습니다.
        </div>
        <div class="alert alert-success" role="alert" th:if="${success}">
            임시 비밀번호가 이메일로 전송되었습니다.
        </div>
        <button type="submit" class="btn btn-primary">임시 비밀번호 받기</button>
    </form>
</div>
</body>
</html>